html, body {
    margin: 20px auto;
    padding: 0;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    background-color: #EEF0F4;
    color: #333333;
}

img{
    width: 10em;
    height: auto;
    margin: 0 auto;
    margin-bottom: 12px;
}

input, button{
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    border: none;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
}

input {
    color: #333333;
    background-color: #DCE1EB;
    text-align: center;
}

button {
    color: #FDFDFD;
    background-color: #8CD7ED;
    margin-top: 12px;
}

button:hover{
    background-color: #333333;
    cursor: pointer;
} 

ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

ul li {
    background-color: #FFFDF8;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 5px;
    flex-grow: 1;
    font-size: 20px;
}

ul li:hover{
    background-color: #FFCAE0;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 30px auto;
}

#shopping-list{
    margin: 12px 0;
    padding: 0;
}